<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="modal__content">
                    <a class="navbar-brand"> @*<span>I, Portfolio </span>*@</a>
                    <!-- if logo is image enable this
                      <h2 class="logo">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                      </h2> -->
                    <p class="mt-md-3 mt-2">
                       Projelerinize değer katabilmeyi çok isterim . Bunun için benimle iletişime geçmenizden mutluluk duyarım .
                    </p>

                    <img src="~/Template/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-5">

                    <div class="widget-social-icons mt-sm-5 mt-4">
                        <ul class="icon-rounded address">
                            <li class="mt-3">
                                <p>+90 542 41 50 46</p>
                            </li>
                            <li class="mt-2">
                                <p><a href="mailto:tbtstn@gmail.com">tbtstn@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-social-icons mt-sm-5 mt-4">
                        <ul class="follow-social">
                            <li><a href="https://github.com/TubaZorlu"><span class="fa fa-github-alt"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/tubazorlu/"><span class="fa fa-linkedin"></span></a></li>                 
                            <li><a href="https://www.instagram.com/tbtstn/"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <!-- //modal-content -->
    </div>
    <!-- //modal-dialog -->
</div>

