<section class="w3l-clients" id="skills">

    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <div class="position-relative px-lg-5">
                        <img src="~/Template/iportfolio-starter/assets/images/clients.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <span class="text">Referanslarım</span>
                    <h3 class="title-big"> Referanslarım benim hakkımda ne düşüyor</h3>
                    <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Kendisi ile 2 seneye yakın bir süre birebir çalıştım . Son derece özverili , çalışkan, becerikli ve pratik bir çalışma arkadaşıdır. İyi bir mühendis nosyonuna sahip ve korordineli çalışma , iş arkadaşları ile uyum , ortak çalışma ve iş birliği kültürüne sahiptir
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">

                                        <div class="peopl align-self">
                                            <h3>Beril HARMANLI</h3>
                                            <p class="indentity">Europower Enerji-CEO</p>
                                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:beril.harmanli@europowerenerji.com.tr">beril.harmanli@europowerenerji.com.tr</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Kendisi ile firmalarımızın iş birliği sayesinde çalışma fırsatı buldum . Görüşme sağladığımız projelerde her zaman sorululuk aldığını ,  iş takbinin kuvetli olduğunu gözlemledim . Anlaştığımız hususlar da herzamn zamanında dönüş aldım . Birlikte çalışmak keyifli ve stressizdi.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">

                                        <div class="peopl align-self">
                                            <h3>Onur ISFENDIYAR </h3>
                                            <p class="indentity">Schneider Elektrik-Teknik Destek Muhendisi</p>
                                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:onur.isf@gmail.com">onur.isf@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

