@model UserRegisterViewModel
@{
    Layout = null;
}

<form method="post">
    <br />
    <div class="container">
        <label>Adınız</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <br />
        <label>Soyadınız</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <br />
        <label>Mail Adresiniz</label>
        <input type="text" asp-for="Mail" class="form-control" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <button class="btn btn-dark">Kayıt Ol</button>
         
    </div> 
</form>
