@using DemoPortfolioProject.Models.Entities
@model List<TBLServices>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}



<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Hizmet Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.Title</td>
            <td><a href="/Services/DeleteService/@item.ServicesID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Services/UpdateService/@item.ServicesID" class="btn btn-warning">Guncelle</a></td>
        </tr>
    }
</table>
<a href="/Services/AddService" class="btn btn-primary">Yeni Hizmet Girisi</a>
