@model List<CategoryListModel>
@{
    Layout = "_Layout";
}

@{
    if (Model?.Count > 0)
    {
        <div class="text-end">
        <a asp-action="Create" asp-controller="Category">Create New Record</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Definition</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Defination</td>
                        <td>
                            <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
                            <a asp-action="Remove" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center"> Not found record</div>
    }
}

