@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-6"><b>Welcome to My Portfolio</b></h1>
    <br /> 
    <p>Let talk about me :)</p> 
    <p>I am Şafak and interesting in software development. </p>
    <p>I graduated department of Computer Engineering from Dumlupınar University.</p> 
    <p> I am keen on learning new things about coding.</p>
    <p> You can check my projects on Github and contact with me on LinkedIn</p>
    <p>  
        <a href="https://www.linkedin.com/in/safakakca/"><img src="~/Images/linkedin.png" /></a> &nbsp;
        <a href="https://github.com/safakca/"><img src="~/Images/githubx.png" /></a>   
    </p>
</div>
