@{
    ViewData["Title"] = "Skills";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>I write .net about 8 months.</p>

    <p>The technologies that I am working with ; </p>

    <p>SOLID, Clean Code,Entity Framework, nTier Architecture, Onion Architecture</p>
    <p>DI-dependency injection, Generic Repository, uOw - UnitOfWork, Fluent Validation, Fluent Api, CQRS, Linq</p>
    <p>If you wanna read more informations , you can click the icons :) </p>
    <div class="d-flex col gap-3">
        <div> <a href="https://learn.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/"><img src="~/Images/cSharp.png" /> </a> </div>

        <div><a href="https://visualstudio.microsoft.com/tr/"><img src="~/Images/vs.png" /></a></div>

        <div><a href="https://code.visualstudio.com/"><img src="~/Images/vsCode.png" /></a> </div>
        <div><a href="https://learn.microsoft.com/tr-tr/dotnet/core/introduction"><img src="~/Images/NETCore.png" /></a></div>
        <div><a href="https://github.com/"><img src="~/Images/github.png" /></a> </div>
        <div><a href="https://about.gitlab.com/"><img src="~/Images/gitLab.png" /></a> </div>
        <div><a href="https://www.postman.com/"><img src="~/Images/postman.png" /></a> </div>
        <div><a href="https://swagger.io/"><img src="~/Images/swagger.png" /></a> </div>


        <div> <img src="~/Images/html.png" /></div>
        <div> <img src="~/Images/jira.png" /></div>
        <div> <img src="~/Images/trello.png" /></div>
        <div> <img src="~/Images/sqlserver.png" /></div>
        <div> <img src="~/Images/posgreSql.png" /></div>
        <div> <img src="~/Images/mongo.png" /> </div>
    </div>
</div>