@{
    Layout = "_Layout";
} 

<div class="container mt-4">

    <p><b>Api Consume Project </b></p>

    <li>.net Core 6</li>
    <li>swagger ve postman kullanildi</li>  
    <li>Login Account/Login</li>
    <li>Jwt Token</li>
    <li>Cookie Based</li>
    <li>CQRS</li>
    <li>Onion mimari alt yapili</li>
    <li>Mssql ve Posgresql Baglantili</li>
    <li>Rolleme</li>
    <li>Frontend icin bootstrapt ve mvc 5 kullanildi</li>


</div>