
@{
    ViewBag.Title = "ContactDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ContactDetails</h2>

<div class="container">
    <textarea cols="4" rows="20" class="form-control">@ViewBag.mesaj </textarea>
    <a href="/Contact/Index/" class="btn btn-info" >Geri Dön</a>
</div>