
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div class="container">
    <h2>Mesajınız</h2>
    <textarea rows="2" cols="5" class="form-control">@ViewBag.mesaj</textarea>

</div>