
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <h1> ooopppss! Kayıp mı oldunuz,  ana sayfaya dönebilirisiniz</h1>
    <a href="/About/Index" class="btn btn-warning">Ana Sayfa</a>
</div>