
@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Report List</h1>
<a href="/Report/ExcelStatic/" class="btn btn-primary">Excel static İndir</a>
<a href="/Report/DynamicExcel/" class="btn btn-primary">Excel dinamik İndir</a>
<a href="/Report/StaticPdfReport/" class="btn btn-primary">Pdf statik İndir</a>
@*<a href="/Report/DynamicPdfReportAsync/" class="btn btn-primary">Pdf dinamik İndir</a>*@